html, body{
    height: 100%;
}

html{
    display: table;
    margin: auto;
    zoom: 200%;
}

body{
    margin: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Karla;
    font-weight: 800;
    background-color: rgba(31, 41, 55, 1);
    ;
}

.first-title-part{
    margin: 0;
    color: rgb(255, 255, 255);
}

.second-title-part{
    margin-top: -6px;
    margin-bottom: 10px;
    color: rgb(74, 223, 134)
}

.prompt{
    color: rgba(213, 212, 216, 1);
    font-family: Inter;
    font-weight: 400;
    margin: 0;
}

.generate-password-btn{
    font-family: Inter;
    font-weight: 500;
    color: white;
    background: rgba(16, 185, 129, 1);
    border: none;
    width: 191px;
    height: 42px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 45px;
    padding: 9px 17px 9px 15px;
    cursor: pointer;
}

hr{
    border: 1px solid #2F3E53;
}

.results-container{
    display: flex;
    /* grid-template-columns: 200px 10px 200px 10px; */
    margin-left: -20px;
    column-gap: 10px;
    /* align-items: center; */
}

.copy-btn-container{
  /* align-items: center;
  justify-content:flex-start; */
  /* height: 10px; */
  padding-top: 15px;
}

.copy-btn{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 4px 6px 4px 6px;
  background-color: rgba(213, 212, 216, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px rgba(74, 223, 134, 0.4);
  /* border: 2px solid rgb(85, 249, 145); */
}
.copy-btn .tool-tip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 9px;
  font-weight: 500;
  bottom: -25px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;

}

.copy-btn:hover .tool-tip{
  opacity: 1;
}

.copy-icon{
  width: 10px;
  align-self: center;
  justify-self:right;
}

.first-password, .second-password{
    background-color: rgb(39, 53, 73);
    border-radius: 6px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    color: rgb(85, 249, 145);
    font-weight: 500;
    font-size: 14px;
    width: 200px;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 20px;
}

.toggle-characters-container, .length-selector-container{
    font-family: 'Inter';
    font-style: normal;
    color: rgba(213, 212, 216, 1);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;

}
.length-selector-container{
  justify-content: start;
}

.length-selector{
  margin-left: 10px;
  background-color: rgb(39, 53, 73);
  border: none;
  padding: 2px;
  color: rgb(74, 223, 134);
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(74, 223, 134);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(213, 212, 216, 1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }